@use '../../styles/variables' as *;
@import './../../styles/mixins';

.container {
  height: 100vh;
  background-image: url('../../../public/assets/error.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  h1 {
    @include variable(color-primary, color, $theme-a-color-primary);
    margin: 20px;
    font-size: 30px;
  }

  h3 {
    margin-bottom: 15px;
    @include variable(color-secondary, color, $theme-a-color-secondary);
  }
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.button {
  max-width: 150px;
}
