@use './_variables.scss' as *;

// Headings
h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h1 {
  font-size: $heading-1;
}

h2 {
  font-size: $heading-2;
}

h3 {
  font-size: $heading-3;
}

h4 {
  font-size: $heading-4;
}

// Bottons

.botton-1 {
  font-weight: bold;
  font-size: $botton-1;
}

.botton-2 {
  font-weight: bold;
  font-size: $botton-2;
}

// Texts

.text-1 {
  font-size: $text-1;
}

.text-2 {
  font-size: $text-2;
}

// Colors
// Themes

// Theme A
.theme-a-color-primary {
  color: #1dbeb4;
}
.theme-a-color-secondary {
  color: #383b58;
}
.theme-a-color-tertiary {
  color: #545776;
}
.theme-a-color-quaternary {
  color: #f3f1ed;
}

// Theme B
.theme-b-color-primary {
  color: #f0572d;
}
.theme-b-color-secondary {
  color: #31363f;
}
.theme-b-color-tertiary {
  color: #191b1d;
}
.theme-b-color-quaternary {
  color: #dfe4ea;
}

// Theme C
.theme-c-color-primary {
  color: #fbc02d;
}
.theme-c-color-secondary {
  color: #263238;
}
.theme-c-color-tertiary {
  color: #607d8b;
}
.theme-c-color-quaternary {
  color: #fffbe2;
}

.color-white {
  color: #ffffff;
}
.color-error {
  color: #ff0000;
}
.color-error-opacity {
  color: rgb(255, 0, 0, 0.1);
}
.color-error-background {
  color: #ffe1e1;
}
.color-grey {
  color: #7f7f7f;
}
.color-snow {
  color: #f9f9f9;
}
.color-dark-grey {
  color: #4f4f50;
}
.color-dark-red {
  color: #b00020;
}
