// Fonts
$font-primary: "Roboto", sans-serif;

// Font sizes
$heading-1: 24px;
$heading-2: 20px;
$heading-3: 16px;
$heading-4: 14px;

$botton-1: 14px;
$botton-2: 16px;

$text-1: 14px;
$text-2: 12px;

// Colors
$color-primary: #1dbeb4;
$color-secondary: #383b58;
$color-tertiary: #545776;
$color-light-grey: #f3f1ed;
$color-white: #ffffff;

// Breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
