// Fonts
$font-primary: 'Roboto', sans-serif;

// Font sizes
$heading-1: 24px;
$heading-2: 20px;
$heading-3: 16px;
$heading-4: 14px;

$botton-1: 14px;
$botton-2: 16px;

$text-1: 14px;
$text-2: 12px;

// Colors
$color-white: #ffffff;
$color-error: #ff0000;
$color-dark-red: #b00020;
$color-error-opacity: #fbe3e3;
$color-error-background: #ffe1e1;
$color-grey: #7f7f7f;
$color-snow: #f9f9f9;
$color-dark-grey: #4f4f50;

// Theme A
$theme-a-color-primary: #1dbeb4;
$theme-a-color-secondary: #383b58;
$theme-a-color-tertiary: #545776;
$theme-a-color-quaternary: #f3f1ed;

// Theme B
$theme-b-color-primary: #f0572d;
$theme-b-color-secondary: #31363f;
$theme-b-color-tertiary: #191b1d;
$theme-b-color-quaternary: #dfe4ea;

// Theme C
$theme-c-color-primary: #fbc02d;
$theme-c-color-secondary: #263238;
$theme-c-color-tertiary: #607d8b;
$theme-c-color-quaternary: #fffbe2;

// Breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

//Grid Template Columns
$col-1: 100%;
$col-2: repeat(2, 1fr);
$col-4: repeat(4, 1fr);
