@use './../../styles/variables' as *;
@import './../../styles/mixins';

.social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px;
  gap: 17.04px;
  @include variable(color-tertiary, color, $theme-a-color-tertiary);

  a {
    @include variable(color-tertiary, color, $theme-a-color-tertiary);
  }
}

@media (min-width: $md) {
  .social {
    color: $color-white;

    a {
      color: $color-white;
    }
  }
}
