@use './../../styles/variables' as *;
@import './../../styles/mixins';

.avatar-container {
  height: 37px;
  width: 37px;
  background-color: $color-white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include variable(color-tertiary, color, $theme-a-color-tertiary);
}
