@use './../../../styles/variables' as *;
@import './../../../styles/mixins';

.option-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 15px;

  :hover {
    cursor: pointer;
    @include variable(
      color-quaternary,
      background-color,
      $theme-a-color-quaternary
    );
  }

  > div {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 37px;

    i {
      font-size: 23px;
      @include variable(color-tertiary, color, $theme-a-color-tertiary);
    }

    .description {
      @include variable(color-tertiary, color, $theme-a-color-tertiary);
    }
  }

  .divider {
    height: 0;
    margin: 10px 0;
    border-top: 1px solid;
    cursor: default;
    @include variable(color-primary, border-color, $theme-a-color-primary);
  }
}
