@use './../../styles/variables' as *;

.container {
  display: none;
}

@media (min-width: $md) {
  .container {
    display: flex;
    justify-content: end;
    gap: 16px;
    width: 100%;
    a {
      width: 50%;
    }
  }
  .container {
    display: flex;
    gap: 16px;
    width: 100%;
    max-width: 600px;
  }
}
