@use './../../styles/variables' as *;

.container {
  padding: 0 10px;
  .services-title {
    color: $color-secondary;
  }
  .divider {
    height: 0;
    margin: 10px 0;
    border-top: 1.3px solid $color-primary;
    position: absolute;
    left: 0;
  }
}

@media (min-width: $md) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: $lg) {
  .container {
    padding: 0 43px;
  }
}
