@use './../../styles/variables' as *;
@import './../../styles/mixins';

span.rank {
  margin: 0 3px;
  font-size: 10px;
  gap: 2px;
  .star-off {
    color: #bebebe;
  }
  .star-on {
    @include variable(color-primary, color, $theme-a-color-primary);
  }
}
