@use './../../../../styles/variables' as *;
@import './../../../../styles/mixins';

.icon {
  font-size: 30px;
  cursor: pointer;
  width: auto;
  @include variable(color-tertiary, color, $theme-a-color-tertiary);
}

.icon:hover {
  @include variable(color-primary, color, $theme-a-color-primary);
}
