@use './../../../../styles/variables' as *;
@import './../../../../styles/mixins';

.description-container {
  padding: 30px 0px;

  .title {
    padding-right: 64px;
    @include variable(color-secondary, color, $theme-a-color-secondary);
  }
  .description {
    white-space: pre-line;
    margin-top: 15px;
    color: $color-dark-grey;
  }
}
