@use './../../../styles/variables' as *;

.main {
  height: 100%;

  .login-in-form {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title,
    .title-tablet-desktop {
      color: $color-primary;
      text-align: center;
    }
    .title-tablet-desktop {
      margin-bottom: 60px;
      display: none;
    }

    .title {
      left: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: 32px;
      position: absolute;
      right: 0;
    }

    .form-container {
      height: 100%;
      max-width: 300px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;
    }

    .submit-button {
      margin-top: 40px;
    }

    .signin-text {
      margin-top: -9px;
      text-align: center;
      a {
        text-decoration: none;
        span {
          color: $color-primary;
        }
      }
    }
  }
}

@media (min-width: $md) {
  .title {
    display: none;
  }

  .main {
    .login-in-form {
      .title-tablet-desktop {
        margin-bottom: 60px;
        display: flex;
      }
      .form-container {
        max-width: 448px;
      }
      .signin-text {
        margin-top: 1px;
      }
      .submit-button {
        margin-top: 30px;
        max-width: 206px;
      }
    }
  }
}

@media (min-width: $lg) {
  .main {
    .login-in-form {
      .title-tablet-desktop {
        margin-bottom: 14px;
      }
    }
  }
}
