@use "./../../styles/variables" as *;

.category-list-container {
  background-color: $color-white;
  margin: auto;
  figure {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    img {
      width: 50px;
      height: auto;
    }
  }
  .list-header {
    color: $color-secondary;
    padding: 36px 13px 3px 13px;
  }
  .list ul {
    display: grid;
    grid-template-columns: $col-1;
    padding: 10px;
  }
}

@media (min-width: $md) {
  .category-list-container {
    .list-header {
      padding: 23px 27px 3px 27px;
    }
    .list ul {
      grid-template-columns: $col-2;
      gap: 14px;
      justify-content: space-around;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

@media (min-width: $lg) {
  .category-list-container {
    .list-header {
      padding: 23px 40px 3px 40px;
    }
    .list ul {
      grid-template-columns: $col-4;
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}
