@use './../../../../styles/variables' as *;
@import './../../../../styles/mixins';

.map-container {
  margin-top: 45px;
  .map-title {
    @include variable(color-secondary, color, $theme-a-color-secondary);
  }

  .location {
    color: $color-dark-grey;
    margin-top: 20px;
  }

  .divider {
    height: 0;
    margin: 10px 0;
    border-top: 1.3px solid;
    margin-left: -43px;
    width: 150vw;
    @include variable(color-primary, border-color, $theme-a-color-primary);
  }

  .map {
    margin-top: 15px;
  }
}
