@use './../../styles/variables' as *;
@import './../../styles/mixins';

.subheader-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: $color-white;
  line-height: 23px;
  @include variable(color-tertiary, background-color, $theme-a-color-tertiary);

  aside {
    margin: 9px;
  }
  figure {
    font-size: 28px;
    margin: 20px 14px;
    cursor: pointer;
  }
}
@media (min-width: $md) {
  .subheader-container {
    aside {
      margin: 9px 30px;
    }
    figure {
      margin: 20px 33px;
    }
  }
}
@media (min-width: $lg) {
  .subheader-container {
    aside {
      margin: 10px 43px 5px;
    }
    figure {
      margin: 14px 40px 0 0;
    }
  }
}
